<!--<div>-->
<!--  <div><input type="text" (keyup.enter)="onEnterPress()" [(ngModel)]="tab.txt"></div>-->
<!--  <div><textarea [(ngModel)]="tab.result"></textarea></div>-->
<!--</div>-->
<div>
<form class="example-form">
    <div>
    <mat-form-field class="example-full-width">
        <input name="Firslt" type="text" matInput placeholder="Command" (keyup.enter)="onEnterPress()" [(ngModel)]="tab.command">
    </mat-form-field>
    </div >
        <textarea  matInput placeholder="Result" class="example-large-box mat-elevation-z4"  readonly [(ngModel)]="tab.result" [ngModelOptions]="{standalone: true}"></textarea>
</form>
</div>
